Package: miniplay
Version: 0.02
Section: sound
Architecture: i386
Installed-Size: 300
Maintainer: Matt Joiner <anacrolix@gmail.com>
Description: A parsimonious GTK+ audio player
 A very simple GTK+ audio player that plays nice in GNOME.
Homepage: http://stupidape.dyndns.org/svn/miniplay
