#include <windows.h>
#include "resource.h"

IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 120, 24
STYLE WS_SYSMENU | WS_MINIMIZEBOX | WS_CAPTION | WS_VISIBLE //DS_MODALFRAME | WS_POPUP | WS_CAPTION
//EXSTYLE WS_EX_NOPARENTNOTIFY
CAPTION "EruBot 2"
FONT 8, "MS Sans Serif"
//CLASS "EruBotMainDlg"
BEGIN
	CHECKBOX "Full Light",IDC_CHKLIGHT,4,8,100,8, BS_AUTOCHECKBOX | BS_NOTIFY
    //PUSHBUTTON      "&Press This Button",IDC_PRESS,7,7,84,14
    //PUSHBUTTON      "&Or This One",IDC_OTHER,7,31,84,14
END
