body {
    font-family: Verdana;
    background-color: #051122;
    font-size: 10pt;
}
#container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#center {
    background-color: #FFF2db;
    min-width: 640px;
    display: table-cell;
    width: 0%;
}
#left {
    width: 0%;
    //width: 160px;
    min-width: 160px;
    display:table-cell;
}
#menu {
    background-color: #0D2E2B;
}
table {
    font-family: Verdana;
    font-size: 10pt;
}
.stattab {
    width: 100%;
}
.stattab th, .stattab td {
    padding: 2;
}
.stattab th {
    font-weight: bold;
    color: white;
    background-color: #505050;
}
.stattab tr.odd {
    background-color: #F1E0C6;
}
.stattab tr.even {
    background-color: #D4C0A1;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: Blue;
}
a.guild {
    color: Grey;
}
a.enemy {
    color: Red;
}
a.friend {
    color: Green;
}
a.unspec {
    color: Grey;
}
#left a {
    color: #d7d7d7;
}
