Package: internode-applet
Maintainer: Matt Joiner <anacrolix@gmail.com>
Architecture: @BUILD_ARCH@
Version: 1.6-0
Depends: python-gnome2-desktop
Description: Internode Usage Meter for GNOME
Homepage: http://www.users.on.net/~spohlenz/internode/
